/* Base table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th, td {
    padding: 10px 20px;
    border: 1px solid #ddd;  /* Borders for individual cells */
    width: 25%;
}

th {
    background-color: #f5f5f5;
    color: black;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e6e6e6;
}
